<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>首頁</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="container" style="max-width:600px;margin-top: 50px">
        <div>
            <h1>歡迎</h1>
            <p><a href="#" th:href="@{/upload}">上傳</a></p>
            <p><a href="#" th:href="@{/watch}">影片</a></p>
        </div>
    </div>
</body>
</html>